<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="table-data">
<h2>Login</h2>
<h3><%=message %></h3>
<form id="loginuser" method="post">

    <table border="1">
        <tr>
            <th>Username</th>
            <th>Password</th>

        </tr>
        
		

        <tr>

            <td><input mandatory type="text" name="username"  id="username"></input></td>
            <td><input mandatory type="password" name="password" id="password"></input></td>
			

            <td class="buttoncell"><a href="question-list-user">Cancel</a></td>
			<td class="buttoncell"><a href="javascript:{}" onclick="document.getElementById('loginuser').submit(); return false;">Login</a></td>
        </tr>

    </table>
</form>
    </div>
</body>
</html>