<!DOCTYPE html>
<html lang="en">
<head>
  <title>Q&A</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<body>
	
	
<div class="container">
  <div class="header">
  <h2>Ask Adam Anything</h2>
  <p>
  Hi! My name is Adam and I am a lecturer in I.T. at Exeter College.  The purpose of this web app is to allow you to ask me anything!  Click the button to send me a question.  All answered questions will appear below.
  </p>
  <a href="/questions/add/">Ask A Question</a>
  </div>
  <div class="photo">
  
  <img style="float:right" src="/images/me.png"/>
  </div>
  <div class="questions">
  <div class="table-data">
    <table border="1">
            <tr>
            <th colspan="2">Answered Questions</th>
        

        </tr>
        <tr>
            <th>Question</th>
            <th>Answer</th>

        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.question %></td>
            <td><%=data.answer %></td>


        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
  
  
  </div>
</div>

	
</body>
</html>
