<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add a New Question</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="table-data">
<h2>Add a New Question</h2>
<form id="addform" method="post">

    <table border="1">
        <tr>
            <th>Question Text</th>


        </tr>
        
		

        <tr>

            <td><input type="text" name="question"  id="question"></input></td>


            <td class="buttoncell"><a href="/questions/cancel/0">Cancel</a></td>
			<td class="buttoncell"><a href="javascript:{}" onclick="document.getElementById('addform').submit(); return false;">Save</a></td>
        </tr>

    </table>
</form>
    </div>
</body>
</html>